.user {
    margin-top: 1px;
    background-color: rgb(244, 176, 75);
}

.user:hover {
    background-color: rgb(245, 217, 174);
    color: rgb(54, 51, 42);
}

.user-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.user .user-header button {
    font-size: smaller;
    border-radius: 5px;
    border: 1px black solid ;
    background-color: rgb(237, 213, 186);
    color: rgb(19, 18, 18);
    padding: 5px;
}

.user .user-header button:hover {
    background-color: black;
    color: rgb(252, 251, 251);
    cursor: pointer;
}

.user .private-message {
    display: block;
    background-color: rgba(0, 0, 0, 0.32);
    padding-top: 5px;
    padding-bottom: 25px;
    font-size: smaller;
}

.user .no-private-message {
    display: none;
}

.user .private-message button {
    padding: 3px 10px;
    margin: 2px;
    border-radius: 5px;
    border: rgb(250, 200, 36) 2px solid;
    background-color: rgb(248, 248, 237);
    color: rgb(23, 22, 22);
}

.user .private-message button:hover {
    border: rgb(250, 200, 36) 2px solid;
    background-color: rgb(17, 17, 16);
    color: rgb(245, 242, 242);
}

.user .private-message  input {
    padding: 5px;
    position: relative;
    width: 90%;
    margin: 7px 0px;
    border-radius: 5px;
    border: rgb(101, 100, 100) 2px solid;
}

.user .error-pm {
    padding-top: 15px;
}