.users {
  color: black;
  background-color: rgb(248, 243, 230);
  width: 20%;
  min-height: 500px;
  padding-bottom: 50px;
}

.users .user-list {
  color: rgb(13, 12, 12);
  font-weight: 600;
}

.users .my-private-message {
  border-top: 1px silver solid;
  border-bottom: 1px silver solid;
}

.users .private-message-delete {
  color: brown;
  font-weight: 600;
  font-size: smaller;
}

.users .private-message-delete:hover {
  color: rgb(234, 28, 28);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .users {
    width: 100%;
  }
}
